/.vscode
/1.cpp
/1.exe
/100days.py
/2.exe
/armstrong.cpp
/bank1.cpp
/bubblesort.cpp
/bubblesort.exe
/english.txt
/fibonacci.cpp
/fibonacci.exe
/insertion_sort.cpp
/linkedlistAC.cpp
/missing.cpp
/missing.exe
/n.py
/n=18.py
/name.py
/nerdz.txt
/palindromestring.cpp
/palindromestring.exe
/palindrome_integer.cpp
/palindrome_integer.exe
/pointer to derived class
/practise ques.txt
/practise.docx
/prime.cpp
/prime.exe
/recursion_fictorial.cpp
/retail summary.txt
/reverse.c
/reverse.cpp
/reverse.exe
/reverse_string.cpp
/stackhamza.c
/studyloop.py
/tempCodeRunnerFile.exe
/tutorial doubts.txt
/Untitled-1.py
/Untitled-2.py
/virtrual class.cpp
/~$actise.docx